* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0;
  word-wrap: break-word;
}

body {
  font-size: 0.16rem;
}

a:hover {
  text-decoration: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.form-control {
  padding: 0.06rem 0.12rem;
  font-size: 0.16rem;
  border-radius: 0.04rem;
}

.form-control:focus {
  border-color: #6248ff;
  outline: 0 none;
  box-shadow: none !important;
}

.btn {
  font-size: 0.16rem;
  border-radius: 0.04rem;
  box-shadow: none !important;
  padding: 0.06rem 0.12rem;
}

.form-group {
  margin-bottom: 0.12rem;
}

label {
  margin-bottom: 0.08rem;
}

.table th {
  padding: 0.12rem;
}

.table th, .table td {
  padding: 0;
}

ul {
  margin-bottom: 0;
}

.word-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

textarea {
  resize: none;
  border-radius: 4px;
}
