@import "default_style";

$limit-header-bg-color: #53575d;

$limit-header-font-color: #ced4da;
$limit-header-font-active-color: white;

$limit-input-placeholder-color: #9b9b9b;

$limit-gray-text: #6b7177;
$limit-title-color: #495057;

$limit-purple-text: #6248ff;

$limit-detail-title-color: #343a40;

$limit-gray-bg-color: #f8f9fa;

$balance-button-active: linear-gradient(45deg, #2853FF 0%, #933EFE 100%);
$balance-button: linear-gradient(-45deg, #2853FF 0%, #933EFE 100%);
$balance-login-button: linear-gradient(315deg, #2853FF 0%, #933EFE 100%);;

$balance-button: 1px solid #933efe;

$balance-button-purple: 1px solid #6248ff;
$balance-border: 1px solid #6248ff;
$balance-button-purple-bold: 2px solid #6248ff;
$balance-color: #6248ff;
$balance-a-active: #2853ff;
$balance-word-purple: #6236ff;
$balance-white: #fff;
$balance-orange: #f59f00;

$balance-model-border: 1px solid #ced4da;

$balance-care-red: #ff6666;
$default-red:#e02020;

$balance-bg-fb: #fbfbfb;
$balance-color-gray: #adb5bd;
$balance-color-9:#999;
$balance-color-6:#666;
$balance-readonly:#f1f3f5;
$balance-tab-gray:#e5e5e5;

$default-gray: #343a40;
$border-gray: #ced4da;
$light-gray: #6b7171;

$word-blue:#007AFF;
