.echart_line_darren,
.echart_bar_Category,
.echart_bar_darren{
    .redar{
            width: 100%;
            height: 4.22rem;
            // height: 4.72rem;
            background: #FFFFFF;
            cursor: pointer;
            padding: 0.2rem;
            >div{
                height: 100% !important;
            }
            canvas{
                height: 100% !important;
            }
    }
}
.bar_category,
.wordCloudDtaNull{
    height: 100px !important;
    line-height: 100px !important;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    font-size: 14px;
}
.bar_DarrenNull,
.line_darren{
    height: 1.5rem !important;
    line-height: 1rem !important;
    background: #FFFFFF;
    padding-top: 0.5rem;
    text-align: center;
    font-size: 14px;
}

.bar_category{
    text-align: center;
    border: none;
}
.echart_bar_Category >.redar{
    height: 3.2rem;
}
.dataNull{
    width: 100%;
    height: 100%;
    line-height: 2.94rem;
    text-align: center;
}
.echart_wordcloud_three{
    width: 100%;
    height: 100%;
    position: relative;
    .wordCloud{
        width: 180px;
        height: 180px;
        border-radius: 100%;
        overflow: hidden;
        position: absolute;
         >div{
            height: 180px !important;
        }
        &:nth-child(1){
            left: 50%;
            transform: translateX(-50%);
            top: 10px;
        }
        &:nth-child(2){
            left: 58%;
            top: 98px;
        }
        &:nth-child(3){
            left: 42%;
            transform: translateX(-100%);
            top: 98px;
        }
    }
    .tips{
        width: 100%;
        height: 20px;
        line-height: 20px;
        padding-left: 25px;
        padding-top: 30px;
        >div{
            float: left;
            margin-right: 30px;
            .icon{
                display:inline-block;
                width: 15px;
                height: 15px;
                background: #ccc;
                border-radius: 50%;
            }
            span{
                font-size: 14px;
                color: #6B7177;
                vertical-align: middle;
            }
        }
    }
}
