@import "var";

.contrast {
  padding-top: 0.4rem;
  min-width: 1140px;
  margin: 0 auto;

  .contrast_product {
    text-align: center;
    margin-bottom: 0.4rem;

    > div {
      margin: 0 0.12rem;
      display: inline-block;

      .img {
        width: 2rem;
        height: 2.6rem;
        background: #f8f9fa;
        border: 1px solid #e5e5e5;
        border-radius: 0.04rem;
        overflow: hidden;
        position: relative;

        img {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          width: 100%;
          display: inline-block;
        }
      }

      .product_tool {
        width: 2rem;
        height: 0.46rem;
        background: #F5F5F5;
        line-height: 0.46rem;
        text-align: left;
        position: relative;
        text-align: center;

        span {
          font-size: 0.16rem;
          padding-left: 0.02rem;
          color: #495057;
        }

        .text {
          display: inline-block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: 1.7rem;
        }

        .icon {
          position: absolute;
          right: 0;
          color: red;
          margin-right: 0.22rem;
          cursor: pointer;
        }
      }
    }
  }

  .class_fication {
    text-align: center;
    line-height: 0.8rem;
    height: 0.8rem;
    background: #F8F8F8;
    border: 1px solid #E5E5E5;

    .item {
      display: inline-block;
      width: 3.8rem;
      box-sizing: border-box;
      height: 0.8rem;
      line-height: 0.8rem;
      cursor: pointer;

      &.active {
        border-bottom: 2px solid #6248FF;

        span {
          color: #6248FF;
        }
      }

      span {
        font-size: 0.24rem;
        margin-left: 10px;
        color: #666666;
        letter-spacing: 0;
      }

      .icon {
        margin: 0;
        font-size: 0.32rem;
        vertical-align: sub;
      }
    }
  }

  .Survey_data {
    display: none;
    width: 11.4rem;
    margin: 0 auto;
    padding-bottom: 0.6rem;

    &.show {
      display: block;
    }

    > .default {
      padding-top: 0.632rem;
      width: 4.15rem;
      margin: 0 auto;
      text-align: center;

      img {
        width: 100%;
      }

      .tips {
        margin-top: 0.344rem;
        font-size: 16px;
        color: #6B7177;
        text-align: center;
      }
    }

    p, .head-title {
      font-size: 0.18rem;
      color: #343A40;
      letter-spacing: 0;
      line-height: 0.25rem;
      padding: 0.4rem 0 0.2rem 0;
      margin: 0;
      position: relative;
      display: inline-block;
      font-weight: bold;
      .icon {
        margin: 0 0.05rem 0 0 ;
        font-size: 0.2rem;
        color: #8a54be;
        vertical-align: text-bottom;
      }

      img {
        width: 0.2rem;
        height: 0.2rem;
        vertical-align: middle;
      }

      .icon_detail:hover + .hover-box {
        display: inline-block;
      }

      .icon_detail {
        width: 0.13rem;
        height: 0.13rem;
        margin: 0 0 0 0.05rem;
        cursor: pointer;
      }


      .hover-box {
        width: 6.6rem;
        position: absolute;
        top: 0.4rem;
        right: -6.6rem;
        font-size: 0.12rem;
        line-height: 0.24rem;
        padding: 0.05rem;
        color: #fff;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        border-radius: 0.04rem;
        background:rgba(0,0,0,.4) ;
        z-index: 99;
        display: none;
      }


    }


    table.data-view{
      width: 100%;
      text-align: center;
      // box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
      &.koubei {
        border: 1px solid #E5E5E5;
        padding-left: 0.2rem;
        padding-right: 0.2rem;

        .tr:nth-child(1) {
          border-top: none;
        }

        .tr {
          border-top: 1px solid #E5E5E5;
        }

        .td:first-child {
          font-size: 14px;
          color: #343A40;
          letter-spacing: 0;
        }

        .td {
          float: left;
          height: 1rem;
          line-height: 1rem;
          border-left: none;
          border-right: none;
          width: 1.77rem;
          text-align: left;
          border: none;

          > div {
            float: left;
          }

          > .img {
            width: 0.4rem;
            height: 0.4rem;
            border-radius: 0.06rem;
            margin-top: 0.3rem;

            img {
              width: 100%;
              height: 100%;
              margin: 0;
              float: left;
            }
          }

          > .detail {
            margin-left: 0.12rem;
            height: 100%;
            padding-top: 0.28rem;
            box-sizing: border-box;

            span {
              display: block;
            }

            .first {
              font-size: 0.14rem;
              color: #6B7177;
              letter-spacing: 0;
              line-height: 0.24rem;
            }

            .last {
              margin-top: 1px;
              font-size: 0.2rem;
              line-height: 0.28rem;
              color: #FF6B6B;
              letter-spacing: 0;
            }
          }
        }

        td:first-child {
          width: 1.25rem;
          padding-left: 0.2rem;
          text-align: left;
        }
      }

      th {
        height: 0.48rem;
        line-height: 0.48rem;
        font-size: 0.14rem;
        color: #666666;
        border: 1px solid #E5E5E5;
      }

      .td,
      td {
        font-size: 0.18rem;
        color: #343A40;
        height: 0.6rem;
        line-height: 0.6rem;
        border: 1px solid #E5E5E5;

        img {
          vertical-align: text-bottom;
          margin-left: 0.04rem;
        }

        .icon {
          font-size: 0.2rem;
        }

        &:first-child {
          font-size: 0.14rem;
        }
      }
    }

    .search {
      width: 100%;
      height: 4.22rem;
      background: #FFFFFF;
      border: 1px solid #E5E5E5;
      position: relative;
      // box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
      overflow: hidden;

      &.heightUnset {
        height: unset;

        .selectType {
          display: inline-block;
          margin: 0.24rem auto 0;
          font-size: 0.14rem;
          height: 0.34rem;
          line-height: 0.34rem;
          cursor: pointer;
          padding: 0 0.2rem;
          color: $balance-white;
          background: $balance-color;
          border-radius: 0.04rem;
        }

        .selectTypeBox {
          font-size: 0.14rem;
          margin: 0.24rem auto 0;
          border-radius: 0.04rem;

          span {
            display: inline-block;
            font-size: 0.14rem;
            cursor: pointer;
            height: 0.34rem;
            line-height: 0.34rem;
            padding: 0 0.2rem;
            background: #f8f9fa;
            color: #6b7171;
            border-top: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
          }

          span:first-child {
            border-radius: 0.04rem 0 0 0.04rem;
            border-left: 1px solid #e5e5e5;
          }

          span:last-child {
            border-right: 1px solid #e5e5e5;
            border-radius: 0 0.04rem 0.04rem 0;
          }

          .active {
            color: $balance-white;
            background: $balance-color;
            border: $balance-border;
          }
        }
      }

      &.search_land {
        padding-top: 0.9rem;
        margin-bottom: 0.4rem;

        .dataNull {
          width: 50%;
          height: 1rem;
          line-height: 1rem;
          margin-top: -1rem;
          display: inline-block;
        }

        .echart-map {
          padding-right: 0.5rem;
          border-right: 1px solid #E5E5E5;
          height: 3.3rem;

          .echarts-for-react {
            height: 3.4rem !important;
          }

          canvas {
            height: 3.3rem !important;
          }
        }

        .echart-bar-special {
          padding-left: 0.5rem;
        }
      }

      &.search300 {
        height: 3rem;

        .redar {
          height: 3rem;
        }
      }

      &.search330 {
        height: 3.30rem;
      }

      &.search430 {
        height: 3.80rem;
      }

      &.wordCloud {
        height: 296px;
      }

      &.height324 {
        height: 3.24rem;
      }

      .date-select {
        position: absolute;
        right: 40px;
        top: 33px;
        z-index: 8888;

        &.data-name {
          left: 40px;
        }

        span {
          font-size: 12px;
          color: #666666;
          display: inline-block;
          background: url("../images/ip_detail/ic_pitchon.svg") no-repeat left;
          text-indent: 0.2rem;
          cursor: pointer;
          margin-left: 14px;

          &.checked {
            background: url("../images/ip_detail/ic_pitchon_pr.svg") no-repeat left;
          }
        }
      }
    }

    .search_line {
      border: 1px solid #E5E5E5;
      // box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);

      > .ul {
        height: 48px;
        line-height: 48px;
        padding: 0 20px;

        ul {

          border-bottom: 1px solid #E5E5E5;
          height: 48px;
          line-height: 48px;
          list-style: none;
          margin: 0;
        }

        li {
          float: left;
          height: 48px;
          line-height: 48px;
          font-size: 14px;
          color: #666666;
          padding-left: 0.15rem;
          padding-right: 0.15rem;
          position: relative;
          cursor: pointer;

          &.active {
            color: #6248FF;
            border-bottom: 1px solid #6248FF;
          }
        }
        .li-select{
          float: right;
          margin: 0;
          .ant-select-selection{
            background: rgba(98,54,255,0.25);
            border-radius: 0.08rem;
            border: none;
            color:#000;
          }
          .ant-select-arrow{
            color:#000;
          }
          .ant-select-focused .ant-select-selection, .ant-select-selection:active, .ant-select-selection:focus{
            box-shadow: none;
          }
        }
      }

      .search {
        border: none;
      }
    }

    .new-chart-content{
      .child-table{
        padding: 0.16rem 0.2rem 0;
        table {
          width: 100%;
          text-align: right;
          font-size: 0.16rem;
          tr:first-child{
            color: #666;
            font-size: 0.14rem;
            height: 0.28rem;
            line-height: 0.28rem;
          }
          tr:not(:first-child){
            font-weight: bold;
            height: 0.52rem;
            line-height: 0.52rem;
            border-bottom: 1px dashed #e5e5e5;
          }

          tr:last-child {
            border: none;
          }
          td:first-child{
            text-align: left;
            font-weight: normal;
          }
        }
      }
    }

  }
}

@media (max-width: 1141px) {
  .contrast .class_fication .item {
    width: 2.8rem;
  }
}

.displaynone {
  display: none;
}
