@import "var";
@import "default_style";
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.order-detail {
  margin: 0.4rem auto;
  width: 11.4rem;
  font-size: 0.14rem;
  color: $balance-color-6;
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 0.2rem;
    img {
      width: 0.16rem;
      height: 0.16rem;
      margin: 0 0.1rem;
    }
    .purple {
      color: $balance-word-purple;
    }
  }
  .order-state {
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 0.15rem 0 0;
    .state-item {
      width: 2.85rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        left: 50%;
        margin-left: 35px;
        top: 0.3rem;
        width: 2.01rem;
        border-bottom: 1px dashed #ced4da;
      }
      &:last-child {
        &:after {
          border: none;
        }
      }

      .u-state {
        width: 0.6rem;
        height: 0.6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.order1 {
          background: url("../images/copyright-center/state1.png") no-repeat
            center;
        }
        &.order2,
        &.order3 {
          background: url("../images/copyright-center/state2.png") no-repeat
            center;
          &.active {
            background: url("../images/copyright-center/state2_1.png") no-repeat
              center;
          }
        }
        &.order4 {
          background: url("../images/copyright-center/state4.png") no-repeat
            center;
          &.active {
            background: url("../images/copyright-center/state4_1.png") no-repeat
              center;
          }
        }
      }
      .step {
        font-weight: 500;
        color: #343a40;
        line-height: 20px;
        margin: 0.1rem 0 0.04rem;
      }
      .step-status {
        color: #6236ff;
        color: #999999;
        margin: 0 0 0.1rem;
        font-size: 0.12rem;
      }
    }
  }
  .state-content {
    width: 100%;
    padding: 0.25rem 0.4rem;
    background: rgba(98, 54, 255, 0.06);
    border: 1px solid #6236ff;
    border-radius: 6px;
    position: relative;
    .icon {
      position: absolute;
      top: -11px;
      width: 10px;
      height: 12px;
      overflow: hidden;
      &:after {
        display: inline-block;
        content: "";
        width: 10px;
        height: 10px;
        border: 1px solid #6236ff;
        background: rgba(98, 54, 255, 0.06);
        transform: rotate(45deg);
      }
      &-132 {
        left: 132px;
      }
      &-421 {
        left: 421px;
      }
      &-709 {
        left: 709px;
      }
      &-994 {
        left: 994px;
      }
    }
    p {
      font-weight: 500;
      color: #343a40;
      line-height: 22px;
      font-size: 16px;

      .audit-reason {
        font-size: 12px;
        color: #666666;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        line-height: 17px;
        margin-top: 10px;
        span {
          color: #e02020;
        }
      }
    }
    .desc {
      font-size: 12px;
      color: #666666;
      line-height: 17px;
      margin: 0.1rem auto 0.2rem;
      .red {
        color: $default-red;
      }
    }
    .img-group {
      img {
        width: 100px;
        height: 100px;
        background: #ffffff;
        border-radius: 8px;
        margin-right: 0.1rem;
      }
    }
    .btn-group {
      position: relative;
      margin-top: 0.24rem;
      .remind-text {
        // width: 120px;
        display: inline-block;
        height: 34px;
        display: flex;
        align-items: center;
        background: rgba(0, 0, 0, 0.4);
        font-size: 12px;
        font-weight: 400;
        color: #fff;
        border-radius: 4px;
        position: absolute;
        top: -38px;
        left: 0;
        padding-left: 10px;
        opacity: 1;
        &.fadeOut {
          animation: fadeIn 1.5s linear;
        }

        img {
          width: 16px;
          height: 16px;
          margin-right: 4px;
        }
        &:after {
          content: "";
          width: 0;
          height: 0;
          border-width: 0 8px 8px;
          border-color: rgba(0, 0, 0, 0.4);
        }
      }
      button {
        border-radius: 4px;
        color: #ffffff;
        line-height: 20px;
        background: $balance-login-button;
        border: none;
        padding: 0.07rem 0.1rem;
        height: 0.34rem;
        margin-right: 0.1rem;
        outline: none;
        &.small {
          width: 1.08rem;
        }
        &.small.bg-white {
          background: #fff;
          color: #6236ff;
          border: 1px solid #6236ff;
        }
      }
    }
    .no-success {
      width: 100%;
      margin-top: 0.24rem;
      padding-top: 0.23rem;
      border-top: 1px dashed #6236ff;
      .img-group {
        margin: 0;
      }
    }
    // 发票
    .invoice {
      height: 224px;
      background: #ffffff;
      border-radius: 6px;
      padding: 0.2rem 0.25rem;
      font-size: 0;
      color: #343a40;
      &-title {
        text-align: center;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 15px;
      }
      &-body {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0.06rem;
        span {
          color: #666666;
          margin-right: 0.05rem;
        }
      }
    }
  }

  //  订单详情
  .detail {
    margin-top: 0.4rem;
    .title {
      height: 25px;
      font-size: 18px;
      font-weight: 500;
      color: #343a40;
      line-height: 25px;
    }
    .detail-content {
      border: 1px solid #ced4da;
      padding: 0 0.4rem;
      .msg {
        padding: 0.2rem 0;
        p {
          font-size: 16px;
          font-weight: 500;
          color: #6b7177;
          line-height: 22px;
          margin-bottom: 0.2rem;
        }
        .msg-div {
          margin-bottom: 0.13rem;
          color: #999999;
          line-height: 20px;
          display: flex;
          span {
            flex: 1;
            color: #343a40;
            margin-left: 0.05rem;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }

        // 订单信息
        &.order-msg {
          border-top: 1px solid #ced4da;
          .table-detail {
            width: 100%;
            font-family: PingFangSC-Regular, PingFang SC;
            text-align: center;
            color: #999999;
            border: 1px solid #ced4da;
            tr {
              border-bottom: 1px solid #ced4da;
              &:first-child > td {
                height: 0.48rem;
              }
              td:first-child {
                width: 3.88rem;
                text-align: left;
                padding: 0 0.2rem;
              }
              td:nth-child(4),
              td:nth-child(5) {
                width: 0.8rem;
              }
              &:nth-child(2) {
                td {
                  color: #343a40;
                  padding: 0.11rem 0;
                  .pic {
                    display: flex;
                    padding-left: 0.2rem;
                    img {
                      width: 120px;
                      height: 120px;
                    }
                    .pic-desc {
                      margin-left: 10px;
                      .word-ellipsis {
                        width: 240px;
                        font-size: 16px;
                        font-weight: 500;
                        color: #343a40;
                        line-height: 22px;
                        margin-bottom: 10px;
                      }
                      p {
                        font-size: 12px;
                        color: #999999;
                        line-height: 17px;
                        margin-bottom: 0.06rem;
                      }
                    }
                  }
                  .num {
                    display: flex;
                    flex-direction: column;
                    span {
                      color: #666666;
                    }
                  }
                }
                td:nth-child(6),
                td:nth-child(7),
                ,
                td:nth-child(8) {
                  color: $default-red;
                  font-weight: bold;
                }
              }
            }
          }
          .table-price {
            margin: 0.24rem 0 0;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            p {
              display: flex;
              align-items: center;
              color: #999999;
              font-size: 14px;
              margin-bottom: 0;
              span {
                margin-left: 0.12rem;
                font-weight: 500;
                color: #e02020;
                line-height: 33px;
                font-size: 24px;
              }
            }
          }
          .warning {
            margin-top: 0.2rem;
            display: flex;
            align-items: center;
            line-height: 0.48rem;
            height: 0.48rem;
            padding-left: 0.15rem;
            background: #fcecec;
            .black {
              color: #343a40;
            }
            .red {
              color: $default-red;
            }
          }
        }
      }
    }
  }

  // 弹窗
  .promptPerfectModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9;
    &.show {
      display: block;
    }
    &.hide {
      display: none;
    }
    .area {
      width: 600px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      border-radius: 6px;
      padding: 27px 0 0;
      .clear {
        width: 30px;
        height: 33px;
        position: absolute;
        top: 20px;
        right: 22px;
        cursor: pointer;
      }
      .head {
        text-align: center;
        padding: 0 30px;
        img {
          width: 48px;
          height: 48px;
        }
        .head-title {
          font-size: 18px;
          font-weight: 500;
          color: #343a40;
          line-height: 25px;
          margin: 15px 0 13px;
        }
      }
      .body {
        padding: 0 40px 20px;
        overflow: hidden;
        &-title {
          font-size: 14px;
          font-weight: 400;
          color: #666666;
          line-height: 26px;
        }
        &-content {
          height: 233px;
          background: #f6f3ff;
          border-radius: 6px;
          padding: 0.13rem 0.24rem;
          margin: 0.24rem 0 0;
          &__title {
            text-align: center;
            font-size: 16px;
            color: #343a40;
            line-height: 22px;
            margin-bottom: 15px;
          }
          &__line {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 400;
            color: #343a40;
            line-height: 20px;
            margin-top: 6px;
            span {
              font-size: 14px;
              color: #666666;
            }
          }
        }
      }

      .foot {
        border-top: 1px solid #ced4da;
        height: 68px;
        display: flex;
        justify-content: center;
        align-items: center;
        div {
          width: 148px;
          height: 48px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
          font-size: 16px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          line-height: 22px;
          cursor: pointer;
          &:first-child {
            border: 1px solid #6236ff;
            color: #6236ff;
          }
          &:last-child {
            background: linear-gradient(315deg, #2853ff 0%, #933efe 100%);
            color: #fff;
            margin-left: 20px;
          }
        }
      }
    }
  }
}
.tips-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  .area {
    width: 600px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 6px;
    padding: 27px 0 0;
    .clear {
      width: 30px;
      height: 33px;
      position: absolute;
      top: 20px;
      right: 22px;
      cursor: pointer;
    }
    .head {
      text-align: center;
      padding: 0 30px;
      img {
        width: 48px;
        height: 48px;
      }
      .title {
        font-size: 18px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #343a40;
        line-height: 25px;
        margin-top: 11px;
      }
    }
    .body {
      padding: 0 30px 50px;
      overflow: hidden;

      > div {
        margin-top: 10px;
        &:first-child {
          margin-top: 20px;
        }
        p {
          font-size: 16px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          color: #343a40;
          line-height: 26px;
          &:last-child {
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #666666;
          }
        }
      }
    }
    .body-error {
      padding: 10px 30px 36px;
      > p {
        font-size: 16px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #666666;
        line-height: 26px;
      }
    }
    .foot {
      border-top: 1px solid #ced4da;
      height: 68px;
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        width: 148px;
        height: 48px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        font-size: 16px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        line-height: 22px;
        cursor: pointer;
        &:first-child {
          background: linear-gradient(315deg, #2853ff 0%, #933efe 100%);
          color: #fff;
          a {
            color: #fff;
          }
        }
        &:last-child {
          border: 1px solid #6236ff;
          color: #6236ff;
          margin-left: 20px;
        }
      }
    }
  }
}
.gallery-pay {
  width: 100% !important;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  .area {
    width: 6rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 0.06rem;
    .title {
      height: 1rem;
      background: #e9ecef;
      border-radius: 0.06rem 6px 0 0;
      display: flex;
      padding: 0.21rem 0.42rem;
      justify-content: space-between;
      .left {
        display: flex;
        align-items: center;
        > img {
          width: 0.58rem;
          height: 0.58rem;
          margin-right: 0.1rem;
          border-radius: 50%;
        }
        > div {
          font-size: 0.16rem;
          color: #343a40;
          .account {
            font-size: 0.14rem;
            color: #495057;
            margin-top: 0.06rem;
          }
        }
      }
      .right {
        width: 0.3rem;
        height: 0.33rem;
        cursor: pointer;
      }
    }
    .content {
      padding: 0.14rem 0.4rem 0.4rem;
      .top {
        .item {
          &:not(:first-child) {
            margin-top: 15px;
          }
          &-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            div {
              &:first-child {
                font-size: 16spx;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: #343a40;
                line-height: 22px;
              }
              &:last-child {
                font-size: 16px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #e02020;
                line-height: 22px;
              }
            }
          }
          &-content {
            margin-top: 5px;
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #666666;
            line-height: 20px;
          }
        }
      }
      .mid {
        margin-top: 0.25rem;
        border: 1px solid #ced4da;
        border-radius: 0.06rem;
        padding: 0.23rem 0.7rem;
        > div {
          &:first-child {
            text-align: center;
            font-size: 0.14rem;
            color: #868e96;
            span {
              color: #e02020;
            }
          }
        }
        .pay-code {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 0.06rem;
          > div {
            .wechat {
              width: 1.56rem;
              height: 1.56rem;
            }
            canvas {
              width: 1.56rem !important;
              height: 1.56rem !important;
              padding: 0.18rem;
            }
            > div {
              margin-top: 0.13rem;
              text-align: center;
              > img {
                width: 0.16rem;
                height: 0.16rem;
                margin-right: 0.05rem;
              }
            }
          }
        }
      }
      .bottom {
        margin-top: 0.16rem;
        font-size: 0.14rem;
        color: #868e96;
        > img {
          width: 0.14rem;
          height: 0.14rem;
          margin-right: 0.07rem;
        }
        > span:hover {
          color: #6236ff;
          cursor: pointer;
        }
      }
    }
  }
}

