.echart-bar {
  width: 100%;
  //height: 3.2rem;
}

.echart-bar-special {
  width: 50%;
  height: 3.3rem;
  display: inline-block;
}

.echart-bar-special1 {
  width: 50%;
  height: 3.3rem;
  display: inline-block;
}

.echart-bar-special2 {
  width: 49%;
  height: 100%;
  display: inline-block;
}

.echart-line {
  width: 100%;
  height: 3.2rem;
}

.echart-line2, .echart-line-two {
  width: 100%;
  height: 3.2rem;
}

.echart-line-three {
  width: 100%;
  height: 3.2rem;
}

.echart-pie {
  width: 34%;
  height: 100%;
  display: inline-block;
}

.echart-pie-hollow {
  width: 40%;
  height: 100%;
  display: inline-block;
}

.echart-map {
  width: 49%;
  height: 3.3rem;
  display: inline-block;
  //border-right: 1px solid #E5E5E5;
}

.echart-worldCloud {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.echarts-for-react {
  width: 100%;
}
