.echart-radar {
  width: 100%;
  height: 100%;
  //height: 3rem;
  position: relative;
  //padding-top: 30px;
  // padding: 0.3rem 0;
  .redar {
    width: 100%;
    height: 100%;

    > div {
      height: 100% !important;
    }
  }

  .dataNull {
    width: 100%;
    height: 100%;
    line-height: 3.48rem;
    text-align: center;
  }

  .echart-news {
    position: absolute;
    right: 0;
    top: 0;
    width: 7rem;
    padding-left: 6.22rem;
    padding-top: 0.8rem;

    > div {
      position: absolute;
      right: 0;
      min-width: 170px;
      max-width: 200px;
      padding-top: 10px;

      .newName {
        font-size: 0.14rem;
        color: #6B7177;
        letter-spacing: 0;
        margin-bottom: 0.2rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        span {
          display: inline-block;
          width: 0.14rem;
          height: 0.14rem;
          border-radius: 100%;
          background: #9254DE;
          vertical-align: middle;
        }
      }

      p {
        width: auto;
        text-align: left;
        margin-bottom: 0.1rem;
        font-size: 12px;
        line-height: 20px;
        color: #696969;
        margin-top: 0.2rem;
        padding: 0;
      }

      .score {
        color: #6248ff;
        font-size: 0.14rem;
        letter-spacing: 0;
        margin: 0;
        vertical-align: baseline;
      }

      &:nth-child(2) {
        right: 200px;
        box-sizing: border-box;

        .newName {
          span {
            background: #2E8EF8;
          }
        }
      }

      &:nth-child(3) {
        right: 400px;
        box-sizing: border-box;

        .newName {
          span {
            background: #FEA39E;
          }
        }
      }
    }
  }
}

.barrediusSearch {
  height: unset !important;
}

.echart-barRadius {
  width: 100%;

  .dataNull {
    height: 1rem;
    line-height: 1rem;
    text-align: center;
  }

  .barredius {
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 2px;
      height: 60%;
      background-color: #E5E5E5;
      position: absolute;
      right: -1px;
      top: 0.68rem;
    }
  }

  > div {
    width: 50%;
    float: left;

    > div {
      height: 60px !important;
    }

    .heightAuto {
      height: 180px !important;

      > div {
        height: 100% !important;
      }
    }
  }
}

// echarts_barRadius_new
.echarts-container {
  border: 1px solid #E5E5E5;
  padding: 0.2rem;
  max-height: 4.4rem;

  .no-auth {
    text-align: center;

    p {
      font-size: 0.14rem;
    }
  }

  .echarts-parent:last-child {
    padding-left: 0.2rem;
  }

  .middle-line {
    height: 3.27rem;
    display: inline-block;
    vertical-align: top;
    margin: 0.5rem 0 0;
    border-left: 1px solid #e5e5e5;
  }

  .echarts-parent {
    width: 49%;
    display: inline-block;

    .head-title {
      font-size: 0.16rem;
      color: #4a4a4a;
      height: 0.22rem;
      line-height: 0.22rem;
      //margin: 0.2rem 0 0.1rem;
      margin:  0.1rem 0;
      padding: 0;
    }

    .icon-parents {
      display: flex;
      margin-bottom: 0.22rem;

      .icons {
        display: flex;
        flex-direction: column;

        span {
          width: 100%;
          display: block;
          height: 0.2rem;
          line-height: 0.2rem;
          font-size: 0.14rem;
          color: #6b7177;
          margin: 0 0 0.05rem;
        }
      }

      .icons {
        .bar:before {
          content: "";
          display: inline-block;
          width: 0.14rem;
          height: 0.14rem;
          margin: 0 0.05rem 0 0;
          background: #644Aff;
        }
        .line:before {
          content: "";
          display: inline-block;
          width: 0.14rem;
          height: 0.02rem;
          margin: 0 0.05rem 0 0;
          background: #644Aff;
          vertical-align: middle;
        }
      }

      .icons_1 {
        .bar:before, .line:before {
          background: #3681F7;
        }
      }

      .icons_2 {
        .bar:before, .line:before {
          background: #FA9493
        }
      }
    }

    .echarts-age, .echarts-sex {
      display: inline-block;
      height: 2.8rem;
      width: 100%;
    }
  }

}
