.in-development {
  text-align: center;
  font-size: 0.16rem;
  color: #6b7177;

  img {
    width: 4.15rem;
    height: 3.2rem;
    margin: 0.34rem 0 0;
  }

  p {
    color: #6b7171;
    line-height: 0.22rem;
    a{
      color: #624bff;
      cursor: pointer;
    }
  }

  margin: 0.4rem auto 0;
}
