@import "app";
@import "var";
@import "../fonts2.0/iconfont.css";

.industry_body{
  .model-info .model-container .model-footer{
    input{
      font-size:0.18rem;
    }
  }
  li {
    list-style: none;
  }

  .industry_detail{
    color: #343A40;
    width: 1280px;
    margin: auto;
    padding-top: 64px;
    padding-bottom: 160px;
    padding-left: 70px;
    font-size: 14px;
    position: relative;
    .industry_detail_one{
      width: 754px;
      position: relative;
      float: left;
      h4{
        width: 754px;
        font-size: 32px;
        font-weight: 500;
        color: #343a40;
      }
      .industry_detail_user{
        position: relative;
        width: 100%;
        margin-top: 32px;
        height: 50px;
        .industry_detail_user_one {
            width: 454px;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            .media{
              overflow: hidden;
              zoom: 1;
              margin-top: 0;
              .media-left{
                display: table-cell;
                vertical-align: top;
                padding-right: 10px;
                img {
                    width: 48px;
                    height: 48px;
                    padding: 0px;
                    margin: 0px;
                    border: 0;
                    border-radius:50%;
                    vertical-align: middle;
                    color: #444444;
                    cursor: pointer;
                }
                .media-object {
                    display: block;
                }
                a:link, a:visited {
                    text-decoration: none;
                }
                a {
                    outline: none !important;
                    background-color: transparent;
                }
              }
              .media-body{
                padding-top: 6px;
                display: table-cell;
                vertical-align: top;
                width: 10000px;
                overflow: hidden;
                zoom: 1;
                p {
                    font-size: 14px;
                    color: #6b7177;
                    margin: 0px;
                    padding: 0px;
                    min-height: 14px;
                }
                span:last-child {
                    font-size: 12px;
                    margin-left: 18px;
                    color: #adb5bd;
                }
              }
            }
        }
        .industry_detail_user_two{
          // width: 250px;
          width: 60px;
          height: 50px;
          position: absolute;
          right: 0;
          // padding-left: 40px;
          padding-left: 0px;
          margin: 0;
          .bdsharebuttonbox{
            zoom: 1;
            .bds_tsina {
                background: url(../images/sinaicon.svg) no-repeat center center !important;
                float: left;
                width: 40px;
                line-height: 40px;
                height: 40px;
                cursor: pointer;
                margin: 6px 6px 6px 0;
                text-indent: -100em;
                overflow: hidden;
                color: #3a8ceb;
                background-size: 40px 40px !important;
            }
            .bds_weixin {
                background: url(../images/wechaticon.svg) no-repeat center center !important;
                background-size: 40px 40px !important;
                width: 40px !important;
                line-height: 40px !important;
                height: 40px !important;
                float: left;
                cursor: pointer;
                margin: 6px 6px 6px 0;
                text-indent: -100em;
                overflow: hidden;
                color: #3a8ceb;
            }
            .bds_sqq {
                  background: url(../images/qqicon.svg) no-repeat center center !important;
                  background-size: 40px 40px !important;
                  width: 40px !important;
                  line-height: 40px !important;
                  height: 40px !important;
                  float: left;
                  cursor: pointer;
                  margin: 6px 6px 6px 0;
                  text-indent: -100em;
                  overflow: hidden;
                  color: #3a8ceb;
              }
          }
          .divimg{
            margin-left: 60px;
            position: absolute;
          }
          .span1 {
              margin-top: 22px;
              margin-left: 22px;
              color: #6b7177;
              position: absolute;
              font-size: 16px;
          }
          i{
            margin-top: 20px;
            position: absolute;
            font-size: 20px;
            color: rgb(107, 113, 119);
            &:hover{
              color: rgba(0, 0, 0, .7);
            }
            &.active{
              color: rgb(255, 107, 107) !important;
            }
          }
          .iconic_praise {
              cursor: pointer;
          }
        }
      }
      .detail_img {
          width: 754px;
          line-height: 30px;
          margin-top: 40px;
        img{
          width: 754px;
        }
      }
    }
    .industry_detail_two{
      width: 348px !important;
      margin-left: 20px;
      float: left;
      right: 70px;
      top: 72px;
      .head_user {
        width: 348px;
        height: 276px;
        border-radius: 6px;
        border: solid 1px #ced4da;
        .p1 {
          font-size: 16px;
          font-weight: 500;
          color: #343a40;
          margin-top: 20px;
          margin-left: 26px;
        }
        .p2 {
          font-size: 20px;
          font-weight: 500;
          color: #343a40;
          margin-top: 10px;
          margin-left: 26px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .people_img {
          width: 120px;
          height: 160px;
          border-radius: 6px;
          margin-top: 16px;
          // background-color: #d8d8d8;
          //background-image: url("../images/update/noip_ipc.jpg");
          background-size: 100% 100%;
          margin-left: 114px;
          overflow: hidden;
          img {
            width: 100%;
            height: 160px;
          }
        }
      }
      .list_user{
        margin-top: 25px;
        width: 348px;
        border-radius: 6px;
        border: solid 1px #ced4da;
        .list_user_img{
          width: 264px;
          margin-bottom: 32px;
          margin-top: 18px;
          margin-left: 40px;
          overflow: hidden;
          .editHeight{
            width: 100%;
            min-height: 160px;
            // border-radius: 6px;
            margin-top: 16px;
            //background-image: url("../images/update/noip_ipc.jpg");
            background-size: 100% 100%;
            // margin-left: 114px;
            overflow: hidden;
            cursor: pointer;
            img {
              width: 100%;
              height: 160px;
            }
          }

          a:link, a:visited {
              text-decoration: none;
          }
          a {
              outline: none !important;
              display: block;
              background-color: #d8d8d8;
              img {
                  width: 100%;
              }

            .people_img {
              width: 100%;
              min-height: 160px;
              // border-radius: 6px;
              margin-top: 16px;
              //background-image: url("../images/update/noip_ipc.jpg");
              background-size: 100% 100%;
              // margin-left: 114px;
              overflow: hidden;
              img {
                width: 100%;
                height: 160px;
              }
            }
          }
          .p_hover {
            margin-top: 16px;
            width: 264px;
            font-size: 14px;
            font-weight: 500;
            color: #343a40;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
        }
        .p3{
          font-size: 16px;
          font-weight: 500;
          color: #343a40;
          margin-top: 24px;
          margin-left: 19px;
          .icon-link{
            font-size: 20px !important;
            cursor: pointer;
            line-height: 1;
          }
        }
      }
    }
    img {
      padding: 0px;
      margin: 0px;
      border: 0;
    }
    div{
      margin: 0px;
      padding: 0px;
    }

    p{
      margin: 0px;
      padding: 0px;
      display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    a:link, a:visited {
      text-decoration: none;
    }

    a {
      outline: none !important;
    }
    p {
      margin: 0px;
      padding: 0px;
    }
  }

  .footer-container{
    display: block;
    position: relative;
  }
  .clearfix:after {
    content: '';
    clear: both;
    overflow: hidden;
    display: block;
    height: 0;
  }
}
