@import "app";
@import "var";

li {
  list-style: none;
}

.bg-color {
  background-color: #fff;

  .ip-research {
    width: 100%;
    background-color: #fff;
    margin-bottom: 0.2rem;
    min-height: 4.77rem;

    .no-data {
      text-align: center;
      width: 100%;

      img {
        width: 3.9rem;
        height: 3.9rem;
      }
    }

    .no-result {
      text-align: center;
      margin: 0.4rem;
    }

    // tab栏
    .type-of {
      width: 100%;
      font-size: 0.14rem;
      font-weight: normal;
      text-align: left;
      color: #495057;
      background: #F8F9FA;
      padding-bottom: 0.2rem;

      .type-tab {
        line-height: 0.42rem;
        height: 0.42rem;
        width: 11.4rem;
        margin: 0 auto;
        //border-bottom: 2px solid #ced4da;
        box-sizing: border-box;
        padding-bottom: 0.08rem;

        span {
          display: inline-block;
          height: 0.42rem;
          margin-right: 0.4rem;
          color: #343A40;
          cursor: pointer;
        }

        .active {
          color: $balance-color;
          border-bottom: $balance-button-purple-bold;
          box-sizing: border-box;
          height: 0.42rem;
        }
      }

      .type-list {
        line-height: 0.28rem;
        width: 11.4rem;
        margin: 0 auto 0.08rem;
        display: block;
        overflow: hidden;

        .type-name {
          float: left;
          text-align: left;
          background: none;
          position: relative;
          color: #9B9B9B;
        }

        .type-ul {
          display: flex;
          margin-bottom: 0;
          flex-wrap: wrap;

          li {
            padding: 0 0.1rem;
            margin: 0 0.01rem;
            color: #7d8287;
            cursor: pointer;
          }

          li:hover, .active {
            background: #E9ECEF;
            border-radius: 2px;
            cursor: pointer;
            color: $balance-color;
          }
        }
      }

      .type-list-last {
        line-height: 0.52rem;

        .type-name {
          width: 11.4rem;
          background: none;
          font-weight: bold;
          color: #2f3943;
          display: block;
          margin: 0 auto;
        }
      }
    }

    //行业案例
    .case-list-container {
      .case-list {
        width: 11.4rem;
        margin: auto;
        padding-top: 0.4rem;
        display: flex;
        flex-wrap: wrap;

        .case-introduce:nth-child(3n) {
          margin: 0 0 0.3rem;
        }

        .case-introduce {
          width: 3.6rem;
          position: relative;
          display: inline-block;
          margin: 0 0.2rem 0.3rem 0;

          .case-top {
            width: 3.6rem;
            height: 2.4rem;
            display: inline-block;
            background: #e5e5e5;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .case-bottom {
            width: 3.6rem;
            background-color: #f8f8f8;

            .case-img {
              width: 0.6rem;
              height: 0.8rem;

              img {
                width: 100%;
                height: 100%;
                margin: 0.2rem 0 0.2rem 0.16rem;
              }
            }

            .case-word {
              height: 1rem;

              .title {
                font-size: 0.16rem;
                font-weight: 500;
                width: 2.5rem;
                height: 0.44rem;
                color: #343a40;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-left: 0.896rem;
                margin-top: -0.6rem;
              }

              .title:hover {
                //color: #8a54be;
              }

              .bottom-title {
                height: 0.2rem;
                line-height: 0.2rem;
                display: flex;
                justify-content: space-between;
                margin: 0.17rem 0.2rem 0 0.896rem;

                .count {
                  color: #343A40;
                  font-size: 0.14rem;
                  z-index: 1;
                }

                .active:before {
                  color: #FF6666;
                }

                .iconic_praise:before {
                  margin: 0 0.04rem 0 0;
                  font-size: 0.16rem;
                }

                .span-one {
                  font-size: 0.12rem;
                  color: #6b7177;
                  //margin-right: 0.1rem;
                  margin-left: 0.6rem;
                }

                .span-two {
                  font-size: 0.12rem;
                  color: #adb5bd;
                  cursor: default;
                  //margin-left: 0.08rem;
                }
              }
            }
          }
        }

        .case-introduce:hover {
          cursor: pointer;
          box-shadow: 0 2px 0.1rem 0 #adb5bd;
          animation-name: anmitop;
          animation-duration: 0.3s;
          animation-timing-function: linear;
          animation-delay: 0s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
        }

        @keyframes anmitop {
          from {
            top: 0;
          }
          to {
            top: -0.1rem;
          }
        }
      }
    }

    // 加载更多
    .loading-more {
      width: 11.4rem;
      background: #fff;
      text-align: center;
      font-size: 0.16rem;
      color: #6b7177;
      cursor: pointer;
      margin: 0 auto;

      img {
        width: 1.5rem;
      }
    }

    // 没有更多内容
    .is-no-result {
      width: 100%;
      font-size: 14px;
      color: #888888;
      text-align: center;
      margin-bottom: 0;
      margin-top: .38rem;

      span {
        width: unset;
        position: relative;

        &::before {
          content: '';
          display: block;
          width: 0.4rem;
          height: 1px;
          background: #888888;
          position: absolute;
          left: -50%;
          top: 50%;
          transform: translateY(-50%) translateX(-50%);
        }

        &::after {
          content: '';
          display: block;
          width: 0.4rem;
          height: 1px;
          background: #888888;
          position: absolute;
          left: 100%;
          top: 50%;
          transform: translateY(-50%) translateX(50%);

        }
      }
    }

    // ip需求
    .needs-list-container {
      .needs-list {
        width: 11.4rem;
        margin: auto;
        padding-top: 0.368rem;
        display: flex;
        flex-wrap: wrap;

        .needs-introduce:nth-child(4n) {
          margin: 0 0 0.3rem;
        }

        .needs-introduce {
          width: 2.7rem;
          position: relative;
          display: inline-block;
          margin: 0 0.2rem 0.3rem 0;
          font-size: 0;

          .needs-top {
            width: 2.7rem;
            height: 2.7rem;
            display: inline-block;
            background: #e5e5e5;

            img {
              width: 100%;
              height: 100%;
              display: block;
            }
          }

          .needs-bottom {
            width: 2.7rem;
            padding: 0 0.12rem;
            background-color: #f8f8f8;

            .needs-name {
              font-size: 0.16rem;
              font-weight: 500;
              //height: 0.22rem;
              line-height: 0.22rem;
              color: #343a40;
              overflow: hidden;
              text-overflow: ellipsis;
              padding: 0.1rem 0 0.06rem;
            }

            .bottom-title {
              line-height: 0.2rem;
              display: flex;
              justify-content: space-between;
              color: #adb5bd;
              font-size: 0.14rem;
              padding-bottom: 0.1rem;

            }
          }
        }

        .needs-introduce:hover {
          cursor: pointer;
          box-shadow: 0 2px 0.1rem 0 #adb5bd;
          animation-name: anmitop;
          animation-duration: 0.3s;
          animation-timing-function: linear;
          animation-delay: 0s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
        }

        @keyframes anmitop {
          from {
            top: 0;
          }
          to {
            top: -0.1rem;
          }
        }
      }
    }

    // 行业动态{

    .type-state {
      width: 11.4rem;
      margin: 0 auto;
      border-bottom: solid 1px #E5E5E5;
      display: flex;

      .type-left {
        width: 2.4rem;
        height: 1.6rem;
        border: solid 1px #E5E5E5;
        margin: 41px 30px 24px 0;

        img {
          width: 100%;
          height: 100%;
          //position: relative;
          //left: 50%;
          //top: 50%;
          //transform: translate(-50%, -50%);
          //max-width: 100%;
          //max-height: 100%
        }
      }

      .type-right {
        height: 1.6rem;
        margin-top: 41px;
         cursor: pointer;
        .type-title {
          font-size: 0.2rem;
          color: #343A40;
          margin-bottom: 15px;
        }

        .type-detail {
          font-size: 0.14rem;
          color: #6B7177;
          margin-bottom: 0.71rem;
          height: 0.2rem;
        }

        .type-other {
          display: flex;
          height: 0.2rem;

          li {
            padding: 0 0.2rem 0 0;
          }

          .type-word {
            height: 0.23rem;
          }

          .type-time {
            font-size: 0.12rem;
            color: #999;
            margin-top: 0.04rem;
          }

          .type-look {
            font-size: 0.16rem;
            color: #999;
            cursor: pointer;

            .type-num {
              font-size: 0.12rem;
              margin-left: 0.06rem;
              margin-top: 0.03rem;
              display: block;
              float: right;
            }
          }

          .count {
            font-size: 0.16rem;
            color: #999;
            cursor: pointer;

            .type-num {
              font-size: 0.12rem;
              margin-left: 0.06rem;
              margin-top: 0.03rem;
              display: block;
              float: right;
            }
          }

          .active:before {
            color: #FF6666;
          }

          .type-comment {
            font-size: 0.16rem;
            color: #999;

            .type-num {
              font-size: 0.12rem;
              margin: 0 0.25rem 0 0.05rem;
            }
          }
        }
      }
    }
    .type-state+.loading-more{
      margin: 0.2rem auto ;
    }
    // 人物专访
    .type-people {
      width: 11.4rem;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;

      .type-inter {
        display: flex;
        border-bottom: solid 1px #E5E5E5;
        padding: 0.41rem 0 0.24rem;
      }
      .type-inter+.loading-more{
        margin: 0.2rem auto;
      }

      a {
        width: 1.48rem;
        height: 1.48rem;
        margin: 0 0.3rem 0 0 ;
      }

      .people-left {
        width: 1.48rem;
        height: 1.48rem;
        border: solid 1px #E5E5E5;
        margin: 0 0.3rem 0 0;
        border-radius: 50%;

        img {
          width: 1.48rem;
          height: 1.48rem;
          border-radius: 50%;
        }
      }

      .people-right {
        height: 1.6rem;
        //margin-top: 0.41rem;
        width: 9.5rem;
        cursor: pointer;
        .people-title {
          font-size: 0.2rem;
          height: 0.28rem;
          line-height: 0.28rem;
          color: #343A40;
          margin-bottom: 0.15rem;
        }

        .people-detail {
          height: 0.41rem;
          font-size: 0.14rem;
          color: #6B7177;
          margin-bottom: 0.42rem;
        }

        .people-other {
          display: flex;
          height: 0.2rem;

          .people-word {
            font-size: 0.12rem;
            color: #999;
            height: 0.23rem;
            margin-right: 0.24rem;
            margin-top: 0.04rem;
          }

          .people-time {
            font-size: 0.12rem;
            color: #999;
            margin-right: 0.24rem;
            margin-top: 0.04rem;
          }

          .people-look {
            font-size: 0.16rem;
            color: #999;

            .people-num {
              font-size: 0.12rem;
              margin: 0 0.25rem 0 0.05rem;
            }
          }

          .count {
            font-size: 0.16rem;
            color: #999;
            cursor: pointer;

            .type-num {
              font-size: 0.12rem;
              margin-left: 0.06rem;
              margin-top: 0.03rem;
              display: block;
              float: right;
            }
          }

          .active:before {
            color: #FF6666;
          }

          .people-comment {
            font-size: 0.16rem;
            color: #999;

            .people-num {
              font-size: 0.12rem;
              margin: 0 0.25rem 0 0.05rem;
            }
          }

        }
      }
    }
  }
}



