@import "var";

$width: 11.4rem;
.ranking {
  .g-banner {
    width: 100%;
    height: 3rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .g-container {
    .m-top {
      background: $limit-gray-bg-color;
      margin-bottom: 0.28rem;

      .m-center {
        width: $width;
        height: 0.54rem;
        line-height: 0.54rem;
        margin: 0 auto;
        display: flex;
        font-size: 0.14rem;

        .m-left {
          .u-tab:last-child {
            margin: 0;
          }

          .u-tab {
            display: inline-block;
            position: relative;
            color: $limit-detail-title-color;
            margin: 0 0.41rem 0 0;

            span {
              display: inline-block;
              cursor: pointer;
            }

            .active {
              color: $balance-color;
              border-bottom: $balance-button-purple-bold;
            }

            img {
              width: 0.13rem;
              height: 0.13rem;
              margin: 0 0 0 0.056rem;
              cursor: pointer;
            }

            img:hover + .hover-box {
              display: inline-block;
            }

            .hover-box {
              position: absolute;
              font-weight: 400;
              z-index: 99;
              width: 3.2rem;
              top: 0.4rem;
              left: 0.2rem;
              font-size: 0.14rem;
              line-height: 0.20rem;
              padding: 0.05rem;
              color: #fff;
              box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
              border-radius: 0.04rem;
              background: rgba(0, 0, 0, .4);
              letter-spacing: 0;
              display: none;

            }

            .hover-box:after {
              border-width: 0.05rem;
              border-color: transparent transparent rgba(0, 0, 0, .4) transparent;
              border-style: solid;
              position: absolute;
              width: 0;
              height: 0;
              content: '';
              top: -0.1rem;
              left: 0.13rem;
            }

            .hover-box.xhs:after {
              left: 0.3rem;
            }

            .hover-box.bz:after {
              left: 0.1rem;
            }
          }
        }
      }

      .m-right {
        .ant-calendar-picker {
          width: 2rem;
          height: 0.4rem;
        }

        .ant-calendar-picker-icon {
          margin-top: -0.13rem;
        }
      }
    }

    .ofTheBottom {
      font-size: 0.14rem;
      color: #888888;
      text-align: center;
      margin-bottom: 0;
      margin-top: .38rem;
    }

    .m-rank-table {
      width: $width;
      margin: 0 auto 0.37rem;

      .table {
        border: #CED4DA;
        border-radius: 0.06rem;
        font-size: 0.12rem;
        border: $balance-model-border;
        border-spacing: 0;
        border-collapse: separate;
        overflow: hidden;
        margin: 0;

        td:first-child {
          text-align: center;
          text-indent: 0;
        }

        td {
          text-indent: 0.1rem;
        }

        .u-head {
          color: $limit-gray-text;
          text-align: center;

          td {
            height: 0.32rem;
            line-height: 0.32rem;
            border: none;
            border-right: $balance-model-border;
            border-bottom: $balance-model-border;
          }

          td:last-child {
            border-right: none;
          }

        }

        .u-body:hover {
          cursor: pointer;
        }

        .u-body {
          .text-right {
            padding: 0 0.2rem 0 0;
          }

          td {
            height: 0.6rem;
            line-height: 0.6rem;
            background: #fff;
            border: none;
          }

          td:first-child {
            img {
              width: 0.24rem;
              height: 0.24rem;
            }
          }

          td:nth-child(2) {
            img {
              display: inline-block;
              width: 0.4rem;
              height: 0.4rem;
              margin: 0 0.08rem 0 0;
              border-radius: 50%;
            }
          }

          td:last-child {
            color: $balance-color;
          }
        }

        .u-body:nth-child(n+1) {
          td {
            background: $limit-gray-bg-color;
          }
        }

        .u-body:nth-child(2n) {
          td {
            background: $balance-white;
          }
        }
      }
    }
  }
}

